<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="apple-touch-icon" href="/assets/img/icon.png">
    <title>{{ data.title }}</title>
	{% block style %}{% endblock %}
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header_title">
            <img src="/assets/img/icon.png" alt="">
        </div>
        <ul class="header_menu">
            <li><a href="/">記事</a></li>
            <li><a href="/post">一覧</a></li>
            <li><a href="/post/create">新規追加</a></li>
            <li><a href="/post/image">画像一覧</a></li>
            <li><a href="/post/pdf">PDF一覧</a></li>
            <li><a href="/logout">ログアウト</a></li>
        </ul>
	</header>
    {% from "parts/pager.html" import pager with context %}
    {% block body %}{% endblock %}
    <script src="/assets/js/jquery.js"></script>
    {% block javascript %}{% endblock %}
    <script src="/assets/js/script.min.js"></script>
</body>
</html>
